.tweet-card {
    background-color: #fff;
    border: 1px solid #cfd9de;
    border-radius: 16px;
    padding: 12px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
}

.thumbnail {
    margin-right: 12px;
}

.thumbnail img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.tweet-content {
    flex-grow: 1;
    margin-top: 2px;
}

.name-metadata {
    display: flex;
    align-items: center;
}

.name {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-right: 4px;
}

.metadata {
    color: #71767b;
    font-size: 15px;
}

.message {
    color: #0f1419;
    font-size: 15px;

    margin-top: 4px;
}

.actions-row {
    max-width: 425px;
    color: #536471;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.action {
    display: flex;
    align-items: center;
}

.action svg {
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

.action-count {
    font-size: 13px;
}